# Numpy: Package for Multidimensional array
## Vector(1d)
### Matrix(2d or 1d)

In [ ]:
import numpy as np

In [ ]:
simple_list=[6,7,9]
np.array(simple_list)

In [ ]:
arr=np.array([1,2,3])
arr

In [ ]:
list_of_lists=[[1,2,3],[4,5,6],[7,8,9]]
np.array(list_of_lists)

In [ ]:
np.arange(5,30)

In [ ]:
np.arange(5,30,2)

In [ ]:
np.zeros(100)

In [ ]:
np.ones((2,5))

In [ ]:
np.linspace(0,20,10)

In [ ]:
np.linspace(0,20,8)

In [ ]:
np.eye(5)

In [ ]:
np.random.rand(2,4)

In [ ]:
np.random.rand(2,7)

In [ ]:
np.random.randint(2,10)

In [ ]:
np.random.randint(20,56,100)

In [ ]:
sample_array=np.arange(30)
sample_array

In [ ]:
rand_array=np.random.randint(0,100,20)
rand_array

In [ ]:
sample_array.reshape(3,10)

In [ ]:
rand_array.max()

In [ ]:
rand_array.argmax()

In [ ]:
sample_array

In [ ]:
sample_array.shape

In [ ]:
sample_array.reshape(5,6)

In [ ]:
sample_array.dtype

In [ ]:
a=np.eye(5)
a

In [ ]:
a.T

In [ ]:
a=np.random.rand(2,3)
a

In [ ]:
a.T

In [3]:
import numpy as np

In [ ]:
sample_array=np.arange(10,21)

In [ ]:
sample_array[8]

In [ ]:
sample_array[2:5]

In [ ]:
sample_array[[2,5]]

In [ ]:
sample_array[1:4]=100
sample_array

In [ ]:
sample_array=np.arange(10,21)
sample_array[0:7]

In [ ]:
subset_sample_array=sample_array[0:7]
subset_sample_array

In [ ]:
subset_sample_array[:]=1001
subset_sample_array

### Two-Dimensional array

In [ ]:
sample_matrix=np.array(([50,20,1,23],[24,23,21,33],[56,76,24,7]))
sample_matrix

In [ ]:
sample_matrix[0][2]

In [ ]:
sample_matrix[2,:]

In [ ]:
sample_matrix[2]

### Custom indexing

In [ ]:
sample_matrix=np.array(([30,10,1,23],[24,21,32,33],[6,76,24,7]))
sample_matrix

In [ ]:
sample_matrix[:,(3,2)]

###  Selection techniques

In [ ]:
sample_array=np.arange(1,31)
sample_array

In [ ]:
bool=sample_array<10
bool

In [ ]:
sample_array[bool]

In [ ]:
sample_array+sample_array

In [ ]:
np.exp(sample_array)

In [ ]:
np.sqrt(sample_array)

In [ ]:
np.log(sample_array)

In [ ]:
np.max(sample_array)

In [ ]:
np.min(sample_array)

In [ ]:
np.argmax(sample_array)

In [ ]:
np.argmin(sample_array)

In [ ]:
np.square(sample_array)

In [ ]:
np.std(sample_array)

In [ ]:
np.var(sample_array)

In [ ]:
np.mean(sample_array)

In [ ]:
array=np.random.randn(3,6)
array

In [ ]:
np.round(array,decimals=2)

In [ ]:
sports=np.array(['golf','cricket','fball','cricket'])
np.unique(sports)

In [4]:
import pandas as pd

In [12]:
labels=['w','x','y','z']
list=[10,20,30,40]
array=np.array([10,20,30,40])
dict={'w':10,'x':20,'y':30,'z':40}

In [16]:
pd.Series(data=labels)

0    w
1    x
2    y
3    z
dtype: object

In [7]:
pd.Series(data=list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [21]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int32

In [18]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

### Pandas dataframe and indexing

In [22]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [27]:
sports1['golf']

4

In [28]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [31]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [35]:
from numpy.random import randn

In [88]:
df1=pd.DataFrame(randn(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A -0.829731  2.663857  0.014375 -1.163315  0.565635
B  0.550717 -0.295094 -1.300635 -0.097244 -0.857026
C -0.743825 -1.037593 -0.042157  3.468102  0.460290
D -0.389116 -0.623417  0.940553 -1.728862 -0.466319
E -0.535529  0.211130  0.088036 -0.072090 -0.904083
F  0.556206  0.110423 -0.412129 -0.784120 -0.578898
G -2.632402  0.376296  1.209764  1.016752 -0.388051
H  0.281074 -0.813236 -0.371005 -0.461984 -0.603316

In [89]:
df1['Score3']

A    0.014375
B   -1.300635
C   -0.042157
D    0.940553
E    0.088036
F   -0.412129
G    1.209764
H   -0.371005
Name: Score3, dtype: float64

In [93]:
df1[['Score2','Score1']]

     Score2    Score1
A  2.663857 -0.829731
B -0.295094  0.550717
C -1.037593 -0.743825
D -0.623417 -0.389116
E  0.211130 -0.535529
F  0.110423  0.556206
G  0.376296 -2.632402
H -0.813236  0.281074

In [94]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A -0.829731  2.663857  0.014375 -1.163315  0.565635  1.834126
B  0.550717 -0.295094 -1.300635 -0.097244 -0.857026  0.255623
C -0.743825 -1.037593 -0.042157  3.468102  0.460290 -1.781417
D -0.389116 -0.623417  0.940553 -1.728862 -0.466319 -1.012533
E -0.535529  0.211130  0.088036 -0.072090 -0.904083 -0.324400
F  0.556206  0.110423 -0.412129 -0.784120 -0.578898  0.666629
G -2.632402  0.376296  1.209764  1.016752 -0.388051 -2.256105
H  0.281074 -0.813236 -0.371005 -0.461984 -0.603316 -0.532163

In [99]:
df1.drop('Score2',axis=1)

     Score1    Score3    Score4    Score5    Score6
A -0.829731  0.014375 -1.163315  0.565635  1.834126
B  0.550717 -1.300635 -0.097244 -0.857026  0.255623
C -0.743825 -0.042157  3.468102  0.460290 -1.781417
D -0.389116  0.940553 -1.728862 -0.466319 -1.012533
E -0.535529  0.088036 -0.072090 -0.904083 -0.324400
F  0.556206 -0.412129 -0.784120 -0.578898  0.666629
G -2.632402  1.209764  1.016752 -0.388051 -2.256105
H  0.281074 -0.371005 -0.461984 -0.603316 -0.532163

In [102]:
df1.reset_index()

  index    Score1    Score2    Score3    Score4    Score5    Score6
0     A -0.829731  2.663857  0.014375 -1.163315  0.565635  1.834126
1     B  0.550717 -0.295094 -1.300635 -0.097244 -0.857026  0.255623
2     C -0.743825 -1.037593 -0.042157  3.468102  0.460290 -1.781417
3     D -0.389116 -0.623417  0.940553 -1.728862 -0.466319 -1.012533
4     E -0.535529  0.211130  0.088036 -0.072090 -0.904083 -0.324400
5     F  0.556206  0.110423 -0.412129 -0.784120 -0.578898  0.666629
6     G -2.632402  0.376296  1.209764  1.016752 -0.388051 -2.256105
7     H  0.281074 -0.813236 -0.371005 -0.461984 -0.603316 -0.532163

In [106]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123